:host {
  --animation-duration: 300ms;
  all: initial;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animated {
  animation-duration: var(--animation-duration);
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

.mavlet-modal__wrapper {
  position: relative;
  top: 0;
  display: inline-block;
  z-index: 2147483000;
  max-width: 500px;
  width: 80%;
  padding: 24px;
}

.theme__light .mavlet-modal__base,
.theme__light .mavlet-modal__close__wrapper {
  background: #fff;
}

.theme__dark .mavlet-modal__base,
.theme__dark .mavlet-modal__close__wrapper {
  background: #27334c;
}

.mavlet-modal__base,
.mavlet-modal__close__wrapper {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
}

.mavlet-modal__base {
  margin: 0 auto;
  border-radius: 32px;
  overflow: hidden;
}

.mavlet-modal__header {
  padding: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mavlet-modal__headerLogo {
  width: 100%;
  max-width: 320px;
  margin: 20px auto;
  height: 100%;
}

a,
button {
  cursor: pointer;
}

.mavlet-modal__close__wrapper {
  position: absolute;
  top: 44px;
  right: 24px;
  z-index: 10000;
  cursor: pointer;
  border-radius: 100%;
}

.mavlet-modal__close__icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  margin: 8px;
}

.mavlet-modal__close__line1 {
  position: absolute;
  width: 90%;
}

.mavlet-modal__close__line2 {
  position: absolute;
  width: 90%;
  transform: rotate(90deg);
}

.theme__light .mavlet-modal__close__line2,
.theme__light .mavlet-modal__close__line1 {
  border: 1px solid #000;
}

.theme__dark .mavlet-modal__close__line2,
.theme__dark .mavlet-modal__close__line1 {
  border: 1px solid #fff;
}

.mavlet-alert__base {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147482999;
  background-color: rgb(17 17 17 / 0.84);
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: Roboto, Helvetica, sans-serif;
}

.mavlet-alert__base::-webkit-scrollbar {
  display: none;
}

.mavlet-alert__title {
  text-align: center;
}

.mavlet-alert__text,
.mavlet-alert__title {
  margin: 0 auto;
  padding: 0 0 24px;
}

.margin__bottom {
  margin-bottom: 16px;
}

.mavlet-alert__title {
  font-size: 18px;
}

.theme__light .mavlet-alert__title {
  color: #3b3d40;
}

.theme__dark .mavlet-alert__title,
.theme__dark .mavlet-alert__text {
  color: #7c99d6;
}

.mavlet-alert__text {
  color: #000;
  font-size: 14px;
}

.mavlet-modal__button,
.mavlet-modal__button--outline {
  height: 36px;
  font-size: 14px;
  letter-spacing: 0.84px;
  margin-bottom: 4px;
  margin-inline-end: 2px;
  margin-inline-start: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  padding-inline-end: 15.4px;
  padding-inline-start: 15.4px;
  padding-left: 15.4px;
  padding-right: 15.4px;
  overflow-wrap: break-word;
  pointer-events: auto;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #3880ff;
}

.mavlet-modal__button {
  background: #3880ff;
  color: #fff;
}

.mavlet-modal__button--outline {
  background: #fff;
  color: #444444;
  border: 1px solid #444444;
}

.mavlet-alert__image {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px 0 rgba(17, 17, 17, 0.12);
  border: 1px solid rgba(17, 17, 17, 0.04);
  border-radius: 16px;
}
.connect__btn {
  margin: 24px 0;
  width: 100%;
}

#mavlet-modal__content {
  padding: 24px;
}

#mavlet-switch {
  margin-top: 24px;
}

#mavlet-title {
  margin: 0 0 24px;
}

a {
  text-decoration: none;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  padding: 16px;
  background: #ececec;
  line-height: 1.25rem;
}
