#mavlet-main-text {
  display: initial;
}
.mavlet-selection__container {
  padding: 16px 16px 0;
}
.mavlet-selection__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 12px;
  align-items: center;
}
.mavlet-list__title {
  text-align: left;
  font-size: 12px;
}
.mavlet-list__wrapper:nth-child(-n + 3) {
  padding: 0 0 1rem;
}
.theme__light .mavlet-list__title {
  color: #7c828b;
}
.theme__dark .mavlet-list__title,
.theme__dark #mavlet--disclaimer {
  color: #7c99d6;
}

.mavlet-selection__name {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}
.theme__light .mavlet-selection__name,
.theme__light .mavlet--selection__name__lg {
  color: #3b3d40;
}
.theme__dark .mavlet-selection__name,
.theme__dark .mavlet--selection__name__lg {
  color: #6183ff;
}
.mavlet-selection__img {
  width: 48px;
  height: 48px;
  box-shadow: 0 4px 12px 0 rgba(17, 17, 17, 0.24);
  border-radius: 16px;
  background-color: #fff;
}
.mavlet--selection__name__lg {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;
}
.mavlet--selected__container {
  padding: 2rem 0 0;
}
#mavlet--qr__copy__container {
  height: 0;
}
#mavlet--qr__copy {
  display: none;
  position: relative;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
#mavlet--qr__container {
  margin-left: auto;
  margin-right: auto;
}
#mavlet--qr__container:hover #mavlet--qr__copy {
  display: block;
}

.disabled p {
  text-align: left;
  margin: 0;
  font-size: 10px;
  font-weight: 300;
  opacity: 0.48;
}

#mavlet--disclaimer {
  text-align: left;
  padding-top: 24px;
  font-size: 0.875rem;
}
.progress-line,
.progress-line:before {
  height: 3px;
  width: -webkit-fill-available;
  margin-left: -24px;
  margin-right: -24px;
}
.progress-line {
  background-color: #a7c4f7;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #3880ff;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
